*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;}
@font-face {
    font-family: pokemons;
    src: url(./assets/fonts/Pokemon\ Solid.ttf);
}
.error{
    font-family: pokemons;
    letter-spacing: 20px;
    color:rgb(0, 0, 0);

}
.logo {
    font-family: pokemons;
    color:rgb(210, 0, 26);
}
li{
    margin:0px 30px;
}
ul{
    margin-bottom: 0px !important;
}
